<!-- <nav>
    <a routerLink="/user/login">כניסה</a>
    <br>
    <a routerLink="/user/register">הרשמה</a>
    <br>
    <a routerLink="/course/Add-Course">הוסף קורס</a>
    <br>
    <a routerLink="/course/All-Course"> כל הקורסים</a>
    <br>
    <a routerLink="/user/logout"> יציאה</a>
</nav>
 -->


<!-- <nav>
    <a routerLink="/user/login" mat-button color="primary" class="stroked-button">כניסה</a>
    <br>
    <a routerLink="/user/register" mat-button color="primary" class="stroked-button">הרשמה</a>
    <br>
    <a routerLink="/course/Add-Course" mat-button color="primary" class="stroked-button">הוסף קורס</a>
    <br>
    <a routerLink="/course/All-Course" mat-button color="primary" class="stroked-button">כל הקורסים</a>
    <br>
    <a routerLink="/user/logout" mat-button color="primary" class="stroked-button">יציאה</a>
  </nav> -->

  <nav class="button-container">
    <a routerLink="/user/login" mat-stroked-button color="primary" class="custom-blue-button">כניסה</a>
    <a routerLink="/user/register" mat-stroked-button color="primary" class="custom-pink-button">הרשמה</a>
    <a routerLink="/course/Add-Course" mat-stroked-button color="primary" class="custom-red-button">הוסף קורס</a>
    <a routerLink="/course/All-Course" mat-stroked-button color="primary" class="custom-orange-button">כל הקורסים</a>
    <a routerLink="/user/logout" mat-stroked-button color="primary" class="custom-yellow-button">יציאה</a>
  </nav>
  
  